@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0,0,0);
    color: #fff;
}
